.countries_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4369b2;
  padding: 0 0.5rem;
  color: #fff;
}

.countries_list_header_back {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.countries_list_header_back span {
  line-height: 1.5;
}

.countries_list_hero {
  background-color: #5687e4;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0.3rem;
}

.countries_list_hero h1 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0;
}

.all_stats_divider,
.stats_by_country_divider {
  color: #fff;
  background-color: #35548b;
  text-transform: uppercase;
  text-align: center;
  padding: 0.1em;
}

.all_stats_detail {
  background-color: #4369b2;
  color: #fff;
  border: 1px solid #4369b2;
}

.countries_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.countries_list li {
  padding: 0.5em;
  height: 100%;
}

.countries_list a {
  text-decoration: none;
  width: 50%;
  min-height: 8rem;
  font-size: 1.5em;
  color: #fff;
}

.countries_list li .country_img {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.countries_list li .country_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.countries_list li .country_detail p {
  font-size: 0.75em;
  margin: 0;
}

.default_color,
.default_color .card {
  background-color: #4167b0;
  border: none;
}

.other_color,
.other_color .card {
  display: flex;
  flex-direction: column;
  background-color: #3d60a2;
  border: none;
}

.card-img-overlay p {
 font-size: 0.75em;
}
